body{
    margin:40px auto;
    max-width: 1400px;
    background-color:black;
    font-family: "Press Start 2P", "consolas", "sans-seriff";
}

h1{
    background-color:blueviolet;
    color:white;
}

h2{
    background-color: blueviolet;
    color: gold;
}

p{
    color:greenyellow
}

#p1{
    background-color: magenta
}